<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.easybuy.dao.order.OrderMapper">

	<!-- -->
	<resultMap type="Order" id="orderList">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="loginName" column="loginName" />
		<result property="userAddress" column="userAddress" />
		<result property="cost" column="cost" />
		<result property="serialNumber" column="serialNumber" />
		<collection property="orderDetailList" ofType="OrderDetail"
			resultMap="orderDetailList" />
	</resultMap>
	<!-- -->
	<resultMap type="OrderDetail" id="orderDetailList">
		<id property="id" column="d_id" />
		<result property="orderId" column="orderId" />
		<result property="quantity" column="quantity" />
		<result property="productId" column="productId" />
		<result property="cost" column="d_cost" />
		<association property="product" javaType="Product"
			resultMap="productResult" />
	</resultMap>
	<!-- -->
	<resultMap type="Product" id="productResult">
		<id property="id" column="productId" />
		<result property="name" column="productName" />
		<result property="fileName" column="fileName" />
	</resultMap>

	<!-- 增加订单（返回类型：int，参数：Order对象）。 -->
	<insert id="add" parameterType="order" useGeneratedKeys="true"
		keyProperty="id">
		insert into easybuy_order
		(userId,loginName,userAddress,createTime,cost,serialNumber)
		values
		(#{userId},#{loginName},#{userAddress},#{createTime},#{cost},#{serialNumber})
	</insert>

	<!-- 根据查询条件，分页显示订单信息列表（返回类型：List<Order>，参数：当前页码、页码容量，用户id）。 -->
	<select id="getOrderList" resultMap="orderList">
		SELECT o.*,d.id AS d_id,d.orderId,d.productId,
		p.name AS productName,
		p.fileName,d.quantity,d.cost AS d_cost
		FROM easybuy_order
		o,easybuy_order_detail d,easybuy_product p
		WHERE o.id=d.orderId AND
		p.id=d.productId
		<if test="userId != null">
			and o.userId = #{userId}
		</if>
		order by o.createTime DESC limit #{from},#{pageSize}
	</select>

	<!--根据条件查询订单表总记录数（返回类型：int，参数：用户id）。 -->
	<select id="count" resultType="int">
		select count(1) as count from easybuy_order
		<trim prefix="where" prefixOverrides="and | or">
			<if test="userId != null">
				and userId = #{userId}
			</if>
		</trim>
	</select>

</mapper>



