<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.1.xsd">
        <!-- 自动映射配置该包路径下需要加载的类 -->
		<context:component-scan base-package="com.gdglc.AjaxPro.controller"/>
        <mvc:annotation-driven/>
        
        <!-- 完成视图对应 --><!-- 配置视图解析，减少映射的文件返回给jsp页面时的前缀和后缀 -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        	<property name="prefix" value="/WEB-INF/view/"></property>
        	<property name="suffix" value=".jsp"></property>
        </bean>
        
        <!-- 配置 multipartResolver 用于上传文件，使用spring的CommonsMultipartResolver -->
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        	<property name="maxUploadSize" value="1024000"/>
        	<property name="defaultEncoding" value="UTF-8"/>
        </bean>
        
        <!-- 配置静态资源所在路径 -->
        <mvc:resources mapping="/statics/**"  location="/statics/" />
        
        <!-- 配置Ajax无刷新 -->
	<bean 
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean id="mappingJackson2HttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
		<property name="objectMapper">
			<bean class="com.fasterxml.jackson.databind.ObjectMapper">
				<property name="serializerProvider">
					<bean class="com.fasterxml.jackson.databind.ser.DefaultSerializerProvider.Impl">
						<property name="nullValueSerializer">
							<bean class="com.gdglc.AjaxPro.json.NullValueSerializer"/>
						</property>
					</bean>
				</property>
				<!-- <property name="DateFormat">
					<bean class="java.text.SimpleDateFormat">
						<constructor-arg value="yyyy-MM-dd"></constructor-arg>
					</bean>
				</property> -->
			</bean>
		</property>
	</bean>
        
   <!-- <mvc:annotation-driven conversion-service="defaultConversionService"> -->
	<!-- <mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>     
         -->
        
        
        
        
        
        
</beans>