<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
        
    <bean class="cn.appsys.tools.DecryptPropertyPlaceholderConfigurer"> 
		<property name="locations" value="classpath:db.properties"/>
	</bean>
	<!-- 定义数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>
	<!-- 定义数据源 -->
	<!-- 配置sessionFactory -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:spring/mybatis-config.xml"/>
		<!-- 配置需要加载的mapper文件 -->
		<property name="mapperLocations">
			<list>
				<value>classpath:mapper/**/*.xml</value>
			</list>
		</property>
		<property name="typeAliasesPackage" value="cn.appsys.pojo" />
	</bean>
	
	<!-- 利用工厂函数注入dao层中的所有接口 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sessionFactory" />
		<property name="basePackage" value="cn.appsys.dao" />
	</bean>
	
	<!-- 自动注入bean的命名规范，如果接口名称是单个大写字母开头，则把第一个大写字母变小写，
	如果当前接口名称的第一个和第二个字符都为大写，则同接口名称相同 -->
	<!-- <bean id="命名" class="cn.appsys.service.impl.实现类">
		<property name="接口名" ref="接口"/>
	</bean> -->
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 定义事务控制规则 -->
	<tx:advice id="txadvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 先配置只读的 -->
			<tx:method name="find*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="show*" propagation="SUPPORTS" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	<!-- 定义一个事务切面 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.appsys.service..*.*(..))"
			id="trPoint" />
		<aop:advisor advice-ref="txadvice" pointcut-ref="trPoint" />
	</aop:config>
</beans>