<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.easybuy.dao.news.NewsMapper">


	<!--根据id查询新闻 -->
	<select id="getNewsById" resultType="News">
		select * from easybuy_news
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null">
				and id = #{id}
			</if>
		</trim>
	</select>

	<!-- LIMIT 4,3	表示从第4条之后开始查询，返回3条记录，忽略最前4条信息 -->
	<!--查询新闻列表 -->
	<select id="queryNewsList" resultType="News" parameterType="NewsParams">
		select id,title,content,createTime FROM easybuy_news where 1=1
		<if test="title != null and title !=''">
			and title like CONCAT ('%',#{title},'%')
		</if>
		<if test="sort != null">
			order by  #{sort}
		</if>
		<if test="isPage == true ">
			limit #{startIndex},#{pageSize}
		</if>
	</select>

	<!--查询新闻的数目 -->
	<select id="queryNewsCount" parameterType="NewsParams"
		resultType="Int">
		select count(*) as count FROM easybuy_news where 1=1
		<if test="title != null and title != ''">
			and title like CONCAT ('%',#{title},'%')
		</if>
	</select>

</mapper>



