<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BDQN_shopa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>yangProduct</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newsServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>yangProduct</servlet-name>
    <url-pattern>/yangProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newsServlet</servlet-name>
    <url-pattern>/newsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.InitAction</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter>
    <filter-name>enconding</filter-name>
    <filter-class>com.YANG.BDQN_shop.filter.EncondingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>enconding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.YANG.BDQN_shop.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/manage/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>product</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.feng.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fengProductView</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.feng.ProductViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fengProductView</servlet-name>
    <url-pattern>/fengProductView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>News</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>News</servlet-name>
    <url-pattern>/manage/News</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/manage/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/manage/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhuCe</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.ming.ZhuCeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuCe</servlet-name>
    <url-pattern>/ZhuCe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LiuYan</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.ming.LiuYanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiuYan</servlet-name>
    <url-pattern>/manage/LiuYan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShanChu</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.ming.ShanChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShanChu</servlet-name>
    <url-pattern>/manage/ShanChu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XiouGai</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.ming.XiouGaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiouGai</servlet-name>
    <url-pattern>/manage/XiouGai</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChaXun</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.ming.ChaXunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChaXun</servlet-name>
    <url-pattern>/manage/ChaXun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commentServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentServlet</servlet-name>
    <url-pattern>/commentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCom</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.AddComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCom</servlet-name>
    <url-pattern>/addCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userModify</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.UserModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userModify</servlet-name>
    <url-pattern>/manage/userModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ce</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.ming.Zhu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ce</servlet-name>
    <url-pattern>/ce</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regResult</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.RegResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regResult</servlet-name>
    <url-pattern>/regResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageNews</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.ManageNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageNews</servlet-name>
    <url-pattern>/manage/manageNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>infoNewsServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.InfoNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoNewsServlet</servlet-name>
    <url-pattern>/manage/infoNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addNews</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNews</servlet-name>
    <url-pattern>/manage/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upShowNews</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.UpShowNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upShowNews</servlet-name>
    <url-pattern>/manage/upShowNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateNews</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.UpdateNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateNews</servlet-name>
    <url-pattern>/manage/updateNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteNews</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.yang.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteNews</servlet-name>
    <url-pattern>/manage/deleteNews</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HouTaiDinDan</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.ming.HouTaiDingDanSerevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouTaiDinDan</servlet-name>
    <url-pattern>/manage/HouTaiDinDan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DaLeiServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.DaLeiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaLeiServlet</servlet-name>
    <url-pattern>/manage/DaLeiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DaLeiInfoServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.DaLeiInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaLeiInfoServlet</servlet-name>
    <url-pattern>/manage/DaLeiInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DaLeiUpdateServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.DaLeiUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaLeiUpdateServlet</servlet-name>
    <url-pattern>/manage/DaLeiUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FenLeiDeleteServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.FenLeiDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FenLeiDeleteServlet</servlet-name>
    <url-pattern>/manage/FenLeiDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productList</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ShangPin.productList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productList</servlet-name>
    <url-pattern>/manage/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productInfo</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ShangPin.productInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productInfo</servlet-name>
    <url-pattern>/manage/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productDel</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ShangPin.productDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDel</servlet-name>
    <url-pattern>/manage/productDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>productMh</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ShangPin.productMh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productMh</servlet-name>
    <url-pattern>/manage/productMh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FenLeiAddServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.FenLeiAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FenLeiAddServlet</servlet-name>
    <url-pattern>/manage/FenLeiAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FenLeiServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ShangPin.FenLeiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FenLeiServlet</servlet-name>
    <url-pattern>/manage/FenLeiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductAdd</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ShangPin.ProductAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAdd</servlet-name>
    <url-pattern>/manage/ProductAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XiaoInfoServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.XiaoInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiaoInfoServlet</servlet-name>
    <url-pattern>/manage/XiaoInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XiaoUpdateServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.XiaoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiaoUpdateServlet</servlet-name>
    <url-pattern>/manage/XiaoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>XiaoDeleteServlet</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.XiaoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiaoDeleteServlet</servlet-name>
    <url-pattern>/manage/XiaoDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkLogin</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.feng.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLogin</servlet-name>
    <url-pattern>/checkLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showAddress</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.feng.ShowAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAddress</servlet-name>
    <url-pattern>/showAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addOrder</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.feng.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOrder</servlet-name>
    <url-pattern>/addOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppingCart</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.feng.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingCart</servlet-name>
    <url-pattern>/shoppingCart</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>productUp</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.servlet.you.ShangPin.productUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productUp</servlet-name>
    <url-pattern>/manage/productUp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>codeUtil</servlet-name>
    <servlet-class>com.YANG.BDQN_shop.filter.Yanzhengma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeUtil</servlet-name>
    <url-pattern>/codeUtil</url-pattern>
  </servlet-mapping>
</web-app>