<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.YANG.BDQN_shop.dao.feng.IOrderDao" >
  	<insert id="addOrder" parameterType="com.YANG.BDQN_shop.entity.feng.Order" >
  		INSERT INTO EASYBUY_ORDER(EO_USER_ID,EO_USER_NAME,EO_USER_ADDRESS,
				EO_CREATE_TIME,EO_COST,EO_STATUS,EO_TYPE)
				VALUES (#{eoUserId},#{eoUserName},#{eoUserAddress},#{eoCreateTTime},#{eoCost},#{eoStatus},#{eoType})
  	</insert>
  	
  	<select id="finadOrder" resultType="int" parameterType="String">
  		SELECT EO_ID eoId FROM EASYBUY_ORDER WHERE EO_USER_ID=#{user} ORDER BY EO_ID DESC LIMIT 0,1
  	</select>
  	
  	<select id="findAlls" resultType="com.YANG.BDQN_shop.entity.you.LoginEntity" parameterType="String">
  		select `EU_USER_ID` id,
		  `EU_USER_NAME` name,
		  `EU_PASSWORD` pwd,
		  `EU_SEX` sex,
		  `EU_BIRTHDAY` birthday,
		  `EU_IDENTITY_CODE` identity,
		  `EU_EMAIL` email,
		  `EU_MOBILE` mobile,
		  `EU_ADDRESS` address,
		  `EU_STATUS` euStatus
  		  from EASYBUY_USER where EU_USER_ID=#{eoUserId}
  	
  	</select>
</mapper>
