<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.YANG.BDQN_shop.dao.feng.IProductTypeDao">
  <select id="findAll" resultType="com.YANG.BDQN_shop.entity.feng.ProductType">
  		SELECT em_id emId,em_name emName,em_parent_id emParentId FROM EASYBUY_PRODUCT_TYPE
  	</select>
</mapper>
